@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,900&display=swap');

:root {
	--main-color: #133f6f;
	--highlight: #f0ad1c;
}

* {
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

html,
body {
	overflow-x: hidden;
}

body {

	color: var(--main-color)
}

body,
p,
h1,
h2,
h3,
h4,
span,
ul {
	font-family: 'Open Sans', sans-serif !important;
	margin: 0;
	padding: 0;
}

body,
div,
section,
p,
span,
form,
input,
a,
footer,
header {
	box-sizing: border-box;
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 700;
}

.wrapper {
	min-width: 980px;
	max-width: 1366px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px;
}

header {
	color: var(--main-color);
	top: 0;
	height: 85px;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 90;
	padding: 22px 0 0 0;
	box-shadow: 0 0 10px -5px;
}

header .wrapper {
	max-width: 1550px;
	padding: 0 30px;
}

.headerSign_up {
	float: right;
	font-size: 18px;
	font-weight: 600;
	color: var(--highlight);
	padding: 5px 0;
	margin-right: 18px;
}

.button {
	-webkit-appearance: none;
	border: 0;
	font-size: 16px;
	text-align: center;
	display: block;
	background: var(--highlight);
	color: #fff;
	border-radius: 25px;
	box-shadow: 0 15px 20px -4px #f0ad1cbf;
	padding: 10px 0;
	width: 250px;
	height: 42px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	transition: box-shadow 0.5s;
	cursor: pointer;

}

.button:hover {
	box-shadow: 0 0px 15px #ffc902;
}

.logo {
	width: 175px;
}

.desk-menu {
	float: right;
	font-size: 24px;
	display: inline-block;
	margin: 6px 25px 0 0;

}

.desk-menu .button {
	margin-top: 0px;
	width: unset;
	padding: 6px 12px;
	box-shadow: none;
	color: #fff;
	font-size: 14px;
	height: unset;
	font-weight: 400;
}

.desk-menu .button:visited {
	color: #fff;
}

.desk-menu li {
	position: relative;
	font-weight: 700;
	cursor: pointer;
	font-size: 23px;
	display: inline-block;
	padding: 0px 10px;
	height: 57px;
}

.submenu {
	position: absolute;
	left: 0px;
	background: #fff;
	cursor: pointer;
	z-index: 40;
	display: none;
}

.submenu a {
	display: block;
	padding: 10px 0 10px 10px;
}

.submenu li {
	padding: 0;
	position: relative;
	font-size: 18px;
	height: unset;
	border-bottom: 4px solid #dfdfdf;
	width: 100%;

	background: #fff;
	transition: 0.5s;
	font-weight: 600;
}

.submenu li:hover {

	color: #005abb;
}

.submenu li.active {
	border-bottom: 4px solid var(--highlight);
}

/*.active_sub a {*/
/*	color: var(--highlight)!important;*/
/*}*/
.active_sub {
	border-bottom: 4px solid var(--highlight) !important;
}

.footer-menu {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
}

.footer-menu li {
	display: inline-block;

}

.footer-menu li:not(:last-child) {
	margin-right: 20px;
}

.desk-menu li:not(:last-child) {
	margin-right: 4px;
}

.desk-menu a,
.desk-menu a:visited {
	color: var(--main-color);
	transition: 0.5s color;
}

.desk-menu a:hover,
.desk-menu li:hover {
	color: #005abb;
	text-decoration: none;
}

.desk-menu>li.active:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	background: var(--highlight);
	height: 4px;
	left: 10px;
}

.social {
	float: right;
}

.social img {
	margin-top: 8px;
	width: 32px;

}

.social a:first-child {
	margin-right: 15px;

}

a {
	text-decoration: none !important;
}

.hero {
	background: url(../img/herobanner.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: block;
}

.hero .wrapper {
	display: flex;
	height: 100%;

}

.hero .wrapper>div {
	text-align: center;
	margin: auto;
	height: 50%;
	width: 80%;
}

.hero h1 {
	color: #fff;

}

.iconsection {
	display: flex;
	height: min-content;
}

.iconsection span {
	margin-left: auto;
	margin-right: auto;
	white-space: normal;
}

.howWorks>.iconsection {
	margin-top: 100px;
	margin-bottom: 70px;
}

.iconbox {
	position: relative;
	color: var(--main-color);
	padding: 0 10px;
	text-align: center;
	width: 25%;
	display: inline-block;
	white-space: nowrap;
	float: left;
	height: min-content;
	margin: 50px 0 70px;

}

.iconbox span {
	display: block;
	margin-bottom: 15px;
	font-weight: 900;


}

.iconbox img {
	display: block;
	margin: 20px auto;
	height: 92px;
}



.iconbox .connector {
	position: absolute;
	width: 77%;
	height: auto;
	left: 62%;
	top: -138px;
	display: block;

}

h2.center {
	margin-top: 70px;
	text-align: center;
}

h2.center.dark {
	background: var(--main-color);
	color: #fff;
	margin: unset;
	padding-top: 70px;
}

.careers h2.center.dark {
	padding: 50px 0;
}

.iconsection .iconbox:nth-child(2)>img.connector {
	top: unset;
	bottom: -150px;
	transform: rotate(180deg);


}

.iconbox p {
	white-space: normal;
	text-align: left;
}

.third_block,
.halfblock {
	position: relative;
	height: 600px;
}

.third_block .img {
	display: inline-block;
	margin-left: -27%;
	top: 0;
	width: 90%;
	background: url(../img/23_image.jpg) no-repeat;
	background-size: cover;
	height: 600px;

}

.halfblock .img {

	display: inline-block;
	position: absolute;
	right: 0%;
	width: 50%;
	background: url(../img/half_image.jpg);
	background-size: cover;
	height: 600px;

}

.halfblock .wrapper {
	height: 600px;
	display: flex;
}

.halfblock h2 {
	margin-bottom: 30px;
}

.halfblock form {
	margin: auto 0;
	/*width: 50%;*/
	text-align: center;
}

form {
	width: max-content;
	margin: 0 auto;
}

.halfblock form .email {
	text-align: center;
	width: 350px;
	height: 42px;
	border-radius: 250px;
	border: 2px solid var(--main-color);
	padding: 10px 20px;
}

.halfblock .button {
	width: 350px;
}

.third_block .column {
	max-width: 36%;
	float: right;
	padding: 0 30px;
	margin-top: 70px;
}

.third_block p {
	margin: 0px 0px 20px;
}

.third_block p:nth-child(2) {
	margin-bottom: 50px;
}

.howWorks {
	text-align: center;
	padding: 70px 20px;
}

footer {
	background: #10345a;
	color: #fff;
	height: 190px;
	padding: 50px 30px;
	position: relative;
}

.leftblock {
	position: absolute;
	left: 0;

}

.leftblock span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin: 20px 0;
}

.rightblock {
	text-align: right;
	right: 0;
}

footer .wrapper {
	position: relative;
	padding: 0;
}

footer .social {
	position: absolute;
	margin-top: 35px;
	right: 0;
}

footer .rightblock a {
	margin-left: 15px;
	display: inline-block;
	font-size: 14px;
}

footer a {
	color: #fff;
}

footer a:visited {
	color: #fff;
}

.copyright {
	font-weight: 600;
	color: #fff;
	font-size: 12px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	width: max-content;
}

[class*="mob"],
.hidden {
	display: none !important;
}

/*ABOUT================================*/


.about .hero {
	background: linear-gradient(0deg, #003d71e8, #003d71e8), url(../img/hero_about.jpg);
	overflow: hidden;
	height: 100vh;
	display: flex;
}

.about .hero .wrapper {
	display: flex;
	height: 40vh;
	margin: auto;
}

.about_text {
	margin: auto 0;
	width: 50%;
	text-align: left;
}

.about .hero .img {
	display: inline-block;
	position: absolute;
	right: 0%;
	width: 50%;
	background: #0b518c;
	background-size: cover;
	height: 386px;
}

.about .hero img {
	position: absolute;
	left: 30px;
	top: -30px;
}

.about .hero .about_text {
	font-size: 16px;
	color: #fff;
	margin: auto 0;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.about_text p {
	margin-top: 30px;
	width: 85%;
}

.infographic>.wrapper {
	background: url(../img/infograph_desk.png) no-repeat center;
	background-size: 980px auto;
	height: 100vh;
}

.iconsection.dark {
	background: var(--main-color);
}

.about .iconsection>.wrapper {
	display: flex;
	flex-flow: wrap;
}

.about .iconsection.dark .iconbox:not(:nth-child(-n+4)) {
	width: 33%;
	margin: 0 0 70px;
}

.iconsection.dark .iconbox span {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	white-space: normal;
}

.about .iconsection.dark .iconbox {
	color: #fff;
}

.about .iconsection.dark .iconbox img {
	height: 68px;
}

.iconsection.leaders {
	padding: 70px 0;
}

.iconsection.leaders h2 {
	position: absolute;
	text-align: center;
	width: 100%;

}

.iconsection.leaders .iconbox p {
	display: block;
	margin-bottom: 10px;
}

.iconsection.leaders img {
	height: unset;
	width: 100%;
}

.iconsection.leaders .iconbox>span:nth-child(2) {
	margin-bottom: 0;

}

.iconsection.leaders .iconbox span:nth-child(3) {
	color: #0074be;
}

.about .halfblock .img {
	display: inline-block;
	position: absolute;
	left: 50px;
	max-width: 701px;
	width: 50%;
	background: var(--main-color);
	background-size: cover;
	margin-top: 50px;
	height: 480px;
}

.about .halfblock img {
	right: 50px;
	top: -50px;
	position: absolute;
}

.about .halfblock form {
	margin: auto 0;
	margin-left: 50%;
	width: 50%;
	text-align: center;
}


/*CONTACT=========================*/

.contact .hero {
	display: flex;
	background: url(../img/contact_hero.jpg);
}

.contact .hero>div {
	text-align: center;
	margin: auto;
	height: max-content;
	width: 100%;
	padding: 30px 0;
	background: #003d71c2;
}

.contact .hero>div h1 {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;

}

.twoblocks {
	display: flex;
	flex-direction: row;
}

.twoblocks>div {
	padding: 70px 0;
	width: 50vw;
	display: flex;
}

.officebox {
	margin: auto;
}

.officebox h2 {
	margin: 30px 0 10px;
}


body.contact>section:nth-child(5) {
	text-align: center;
	padding: 0px 0px;
}

.contact .halfblock {
	background: var(--main-color);
	color: #fff;
	height: fit-content;

}

.contact .halfblock .img {
	display: inline-block;
	position: absolute;
	right: 0%;
	width: 50%;
	background: url(../img/contactForm.jpg);
	background-size: cover;
	height: 100%;
}

.main ._form-content > ._field7> fieldset > div:nth-child(1) {
	color: #f0ad1d;
	width: 100%;
}

.contact ._form-content > ._field7> fieldset > div:nth-child(1) {
	color: #f0ad1d;
	width: 100%;
}

/*.halfblock form >textarea,*/
/*.halfblock form input:not(.button) {*/
/*	text-align: center;*/
/*    width: 350px;*/
/*    height: 42px;*/
/*    border-radius: 250px;*/
/*    border: 2px solid var(--main-color);*/
/*    padding: 10px 20px;*/
/*    margin-bottom: 15px;*/
/*    text-align: left;*/
/*}*/
.halfblock form>textarea {
	resize: none;
	box-sizing: border-box;
	border-radius: 20px;
	height: 100px;
}

.contact .halfblock form>input::placeholder {
	color: var(--main-color);
}

.contact .halfblock .wrapper {
	height: 100%;
	display: flex;
}

.contact .halfblock form>textarea::placeholder {
	color: var(--main-color);
}

.capt-box {
	display: none;
	margin-top: -5px;
}

#capt-img {
	width: 140px;
	vertical-align: top;
	height: 42px;
	border-radius: 25px;
}

#capt-input {
	width: 175px;
	margin-left: 25px;
	white-space: nowrap;
	vertical-align: text-bottom;
}

.partners {
	background: #fff;
	overflow: hidden;
}

.partners .wrapper {
	min-height: 400px;
	display: flex;
	flex-direction: row;
	padding: 30px 20px;
}

.partners h2 {
	color: var(--main-color);
	padding: 0 15px;
}

.partner {
	display: inline-block;
	white-space: nowrap;
	background: var(--main-color);
	width: calc(100% / 3 - 40px);
	padding: 70px 30px 180px;
	margin: 30px 20px;
	position: relative;
	box-shadow: 0 13px 12px -5px #0000007a;
}

.partner>* {
	color: #fff;
	white-space: normal;
	text-align: left;
}

.partner_box>div {
	max-width: 275px;
	text-align: left;
}

.partner_box {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 70px;
	width: max-content;
}

.partner_box img {
	width: 80px;
	border-radius: 300px;
	float: left;
	margin-right: 20px;
	box-shadow: 0 2px 3px #00000082;
}

.partner_box span {
	display: inline-block;

}

.partner_box .partner_title {
	color: var(--highlight);
}

.partner_box .partnername {

	margin-top: 17px;
}

/*SERVICES*/
.services .hero {
	background: linear-gradient(0deg, #ffffffe3, #ffffffe3), url(../img/digital.jpg) center no-repeat;
	overflow: hidden;
	height: 100vh;
	display: flex;
	background-size: cover;
}

.services .hero .wrapper {
	display: flex;
	height: 40vh;
	margin: auto;
}

.services .hero h1 {
	color: var(--main-color);
}

.services .about_text p {
	margin-top: 30px;
	width: 85%;
	color: var(--main-color);
}

.services .hero .img {
	display: inline-block;
	position: absolute;
	left: 0%;
	width: 50%;
	background: #0b518c;
	background-size: cover;
	height: 386px;
}

.services .hero .about_text {
	color: #fff;
	margin-left: 50%;
	padding-left: 30px;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.services .hero img {
	position: absolute;
	right: 30px;
	top: -30px;
}

.services .halfblock {
	position: relative;
	height: 400px;
	color: #fff;
	background: var(--main-color);
}

.halfblock.right {
	height: 400px;
	color: var(--main-color);
	background: #fff;
}

.services .halfblock .half_info {
	width: 50%;
	margin: auto 0;
	padding: 70px 70px;
}

.services .halfblock.right .img {
	left: 0;
	right: unset;
}

.services .halfblock.right .half_info {
	margin-left: 50%;
}

.services .halfblock .wrapper {
	height: 100%;
}

.services .halfblock .img {
	height: 100%;
}

.services .halfblock:nth-child(3) .img {

	background: url(../img/social_media.jpg) center no-repeat;
	background-size: cover;

}

.services .halfblock:nth-child(4) .img {

	background: url(../img/stats.jpg) center no-repeat;
	background-size: cover;

}

.services .halfblock:nth-child(5) .img {

	background: url(../img/seo.jpg)center no-repeat;
	background-size: cover;

}


.services .halfblock:nth-child(5) .img {

	background: url(../img/seo.jpg)center no-repeat;
	background-size: cover;

}

.services .halfblock:nth-child(6) .img {

	background: url(../img/design.jpg) center no-repeat;
	background-size: cover;

}

.services .halfblock:nth-child(7) .img {

	background: url(../img/webdev.jpg) center no-repeat;
	background-size: cover;
}

.button_block {
	height: 400px;
	display: flex;

}

.button_block>div {
	margin: auto;
}

.button_block h2 {
	text-align: center;

}

/*SUBMITTED*/
.thx {
	height: calc(100vh - 190px);
	color: var(--main-color);
	display: flex;
	background: linear-gradient(0deg, #ffffffbf, #ffffffbf), url(../img/contact_hero.jpg) center no-repeat;
}

.thx>div {
	margin: auto;
}

.thx h2 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}



/*POP UP*/

#popup {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: #00000080;
	display: flex;
	display: none;
	z-index: 100;
}

#popup .content {
	width: 65%;
}

.pop_banner {
	position: relative;
	min-height: 350px;
	margin: auto;
	margin-top: 25vh;
	max-width: 700px;
	color: #fff;
	background: linear-gradient(45deg, #0b518c, #186eb7);
	padding: 40px;

}

#popup #close {}

#popup .button {
	margin-top: 55px;
}

.pop_banner img {
	position: absolute;
	right: -140px;
	top: -50px;
	width: 400px;
	pointer-events: none;
}

#close_pop {
	position: absolute;
	top: 0px;
	right: 10px;
	transform: rotate(45deg);
	font-size: 32px;
	cursor: pointer;
	user-select: none;

}

#close_pop2 {
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 15px;
	text-decoration: underline;
	cursor: pointer;
}

#close_pop2:visited {
	color: #fff;
}

/*========== TERMS ==========*/

.terms-section {
	margin-top: 85px;
	padding: 70px 0;
}

.terms-section .wrapper {
	max-width: 600px;
}

.terms-section h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;

}

.terms-section h2 {
	margin-bottom: 15px;
	margin-top: 50px;
}

.terms-section p {
	display: block;
	margin-bottom: 15px;
}

.terms-section ul {
	padding-left: 30px;
}

.terms-section li {
	margin-bottom: 20px;
}

.terms-section span {
	font-weight: 700;
}

/*PPC================================*/


.ppc .hero {
	background: linear-gradient(0deg, #ffffffe3, #ffffffe3), url(../img/digital.jpg) center no-repeat;
	overflow: hidden;
	height: 100vh;
	display: flex;
	background-size: cover;
}

.ppc .hero h1 {
	color: var(--main-color);
}

.ppc .hero .wrapper {
	display: flex;
	height: 40vh;
	min-height: 450px;
	margin: auto;
}

.ppc .hero .button {
	margin-top: 30px;
}

.ppc .hero h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	color: var(--main-color);
}

.ppc .hero ul {
	margin-left: 30px;
	margin-top: 10px;
}

.ppc .hero li {
	color: var(--main-color);
}

.about_text {
	margin: auto 0;
	margin: auto 0;
	width: 50%;
	text-align: left;
}

.ppc .hero .img {
	display: inline-block;
	position: absolute;
	right: 0%;
	width: 50%;
	background: var(--main-color);
	background-size: cover;
	height: 450px;
}

.ppc .hero img {
	position: absolute;
	left: 30px;
	top: -30px;
	height: 100%;
}

.ppc .hero .about_text {
	color: #fff;
	margin: 0;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.ppc .hero p {
	color: var(--main-color);
}

.audit {
	background: var(--main-color);
	color: #fff;
	padding: 70px 0;
	text-align: center;
}

.audit h2 {
	text-align: center;
	margin-bottom: 15px;
}

.audit span {
	text-align: center;
	color: var(--highlight);
	max-width: 520px;
	display: inline-block;
}

.about_text p {
	margin-top: 30px;
	width: 85%;
}

.audit ul {
	text-align: left;
}

.audit h3 {
	margin-top: 30px;
	margin-bottom: 15px;
}

.audit ul {
	width: 50%;
	display: inline-block;
	margin: 0 5%;
}

.audit li {
	position: relative;
	list-style: none;
	margin-bottom: 15px;
}

.audit li::before {
	position: absolute;
	top: -5px;
	content: '✔';
	display: inline-block;
	margin-left: -1em;
	font-size: 24px;
	color: var(--highlight);

}

.flex {
	display: flex;
}

.average {
	text-align: center;
}

.average span {
	width: unset;
	margin-top: 30px;
	margin-bottom: 15px;
}


.infographic>.wrapper {
	background: url(../img/infograph_desk.png) no-repeat center;
	background-size: 980px auto;
	height: 100vh;
}

.iconsection.dark {
	background: var(--main-color);
}

.ppc .iconsection>.wrapper {
	display: flex;
	flex-flow: wrap;
}

.iconsection.dark .iconbox span {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	white-space: normal;
}

.ppc .iconsection.dark .iconbox {
	color: #fff;
}

.ppc .iconsection.dark .iconbox img {
	height: 68px;
}

.iconsection.leaders {
	padding: 70px 0;
}

.iconsection.leaders h2 {
	position: absolute;
	text-align: center;
	width: 100%;

}

.iconsection.leaders .iconbox p {
	display: block;
	margin-bottom: 10px;
}

.iconsection.leaders img {
	height: unset;
	width: 100%;
}

.iconsection.leaders .iconbox>span:nth-child(2) {
	margin-bottom: 0;

}

.iconsection.leaders .iconbox span:nth-child(3) {
	color: #0074be;
}

.ppc .halfblock .img {
	display: inline-block;
	position: absolute;
	left: 30px;
	max-width: 701px;
	width: 50%;
	background: var(--main-color);
	background-size: cover;
	margin-top: 60px;
	height: 480px;
}

.ppc .halfblock img {
	right: 30px;
	top: -30px;
	position: absolute;
}

.ppc .halfblock form {
	margin: auto 0;
	margin-left: 50%;
	width: 50%;
	text-align: center;
}

.ppc .benefits .iconbox {
	width: 20%;
	margin: 30px auto;
}

.benefits {
	padding: 0px 0 40px;
}

.ppc .partners {
	background: #fff;
	overflow: hidden;
}

.ppc .partners .wrapper {
	min-height: 400px;
	display: flex;
	flex-direction: row;
	padding: 30px 20px 120px;
}

.ppc .partners h2 {
	color: var(--main-color);
	padding: 0 15px;
}

.ppc .partner {
	display: inline-block;
	white-space: nowrap;
	background: #fff;
	width: calc(100% / 3 - 40px);
	padding: 0px 30px 125px;
	margin: 30px 20px;
	position: relative;
	box-shadow: 0 5px 20px -5px #0000007a;
	height: fit-content;
}

.ppc .partner>* {
	color: var(--main-color);
	white-space: normal;
	text-align: left;
}

.plan_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.ppc .partner h3 {
	text-align: center;
	margin-bottom: 30px
}

.ppc .partner>ul {
	list-style: none;
	font-size: 18px;
	font-weight: 900;
	position: relative;
}

.ppc .partner ol {
	list-style: circle;
	font-size: 14px;
	font-weight: 400;
}

.ppc .partner ol>li {
	margin: 8px 0;
	line-height: 1;
	color: #0074be;
	font-weight: 600;
}



.price_box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;


}

.price_box span {
	display: block;
}

.price_box .button {
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translate(-50%, 0);
}

.price1,
.price2 {
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-weight: 600;
}

.price1 {
	background: #0074be;
}

.price2 {
	background: var(--main-color);
}

.partner .numbers {
	font-size: 24px;
}

/*
Careers*/

.careers .hero {
	background: linear-gradient(0deg, #ffffffe3, #ffffffe3), url(../img/digital.jpg) center no-repeat;
	overflow: hidden;
	height: 100vh;
	display: flex;
	background-size: cover;
}

.careers .hero h1 {
	color: var(--main-color);
}

.careers .hero .wrapper {
	display: flex;
	height: 40vh;
	min-height: 450px;
	margin: auto;
}

.careers .hero .button {
	margin-top: 30px;
}

.careers .hero h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	color: var(--main-color);
}

.careers .hero .img {
	display: inline-block;
	position: absolute;
	right: 0%;
	width: 50%;
	background: var(--main-color);
	background-size: cover;
	height: 450px;
}

.careers .hero img {
	position: absolute;
	left: 30px;
	top: -30px;
	height: 100%;
}

.careers.hero .about_text {
	color: #fff;
	margin: 0;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.careers .hero p {
	color: var(--main-color);
}

.careers .hero .about_text {
	color: #fff;
	margin: 0;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.position_box {

	padding: 50px 0px;
}

.position_box .wrapper {
	max-width: 680px;
}

.position_box li {
	margin-bottom: 10px;
	list-style: disc;
	margin-left: 20px;
}

.ads li::marker {
	color: var(--highlight);


}

.position_box h3 {
	margin-bottom: 20px;
}

.position_box h4 {
	margin-bottom: 5px;
}

.position_box ul {
	list-style-position: inside;
	margin-bottom: 10px;

}

/*.position_box li{*/
/*	color: #0074be;*/
/*	list-style: circle;*/
/*	margin-left: 20px;*/
/*}*/
.position_box .wrapper>* {
	margin-bottom: 20px;
}

.position_box:nth-child(even) {
	color: #fff;
	background: var(--main-color);
}

/*
DPS*/
.yellow_link {
	color: var(--highlight) !important;
}

.dps .hero {
	background: #F0F0F0;
	overflow: hidden;
	height: 100vh;
	display: flex;
}

.dps .hero h1 {
	color: var(--main-color);
	font-size: 55px;
}

.dps .hero .wrapper {
	display: flex;
	height: 40vh;
	width: 100%;
	margin: auto;
}

.dps .hero .button {
	margin-top: 90px;
	margin-left: 0;
	width: 370px;
}

.dps .hero h2 {
	text-transform: capitalize;
	color: var(--main-color);
	font-size: 35px;
}

.dps .hero h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	color: var(--main-color);
}

.dps .hero .img {
	display: inline-block;
	position: absolute;
	right: 0%;
	width: 50%;
	background: var(--main-color);
	background-size: cover;
	height: 386px;
}

.dps .hero img {
	position: absolute;
	left: 30px;
	top: -30px;
	height: 100%;
}

.dps.hero .about_text {
	color: #fff;
	margin: 0;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.dps .hero p {
	color: var(--main-color);
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 30px;
}

.dps .hero .about_text {
	color: #fff;
	margin: auto 0;
	width: 50%;
	text-align: left;
	height: 50vh;
}

.dps .hero ul {
	color: var(--main-color);
}

.dps .hero li {
	float: left;
	font-size: 20px;
	margin-left: 20px;
	padding-right: 20px;
}

.dps .hero li::marker {
	color: var(--highlight);
}

.dps .under_list {
	font-size: 20px !important;
	margin-top: 90px;
}

.dps h2.center.dark {
	padding: 50px 20px;
	color: var(--highlight);
	text-transform: inherit;
}

.dps h2.center.dark span {
	color: #FFF;
	text-transform: inherit;
	font-weight: normal;
}

.dps .iconbox p {
	white-space: normal;
	text-align: left;
}

.dps .iconbox span {
	color: var(--highlight);
}

.dps .iconbox li {
	text-align: left;
	font-size: 16px;
	white-space: break-spaces;
	line-height: 1.3;
	margin-bottom: 8px;
	background: url(../img/star.png) no-repeat left top;
	padding: 0px 0px 10px 25px;
	list-style: none;
	margin: 0;
}

.dps h3.center.dark {
	background: var(--main-color);
	color: #fff;
	margin: unset;
	padding-top: 70px;
}

.dps .with_list .iconbox {
	padding: 0 10px;
	margin-top: 0;
}

.dps .button_block {
	background: #F0F0F0;
}

.dps .button_block h2 {
	text-transform: inherit;
}

.dps .button_block h2 span {
	color: var(--highlight);
	;
}

.dps .halfblock .desk {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 50%;
	background: var(--main-color);
	background-size: cover;
	margin-top: 50px;
	height: 330px;
}

.dps .halfblock img {
	right: 50px;
	top: -50px;
	position: absolute;
}

.dps .halfblock .about_text {
	color: var(--main-color);
	width: 50%;
	text-align: left;
	margin: auto 0;
	margin-left: 60%;
}

.dps .halfblock .about_text li {
	font-size: 20px;
	line-height: 2;
}

.dps .halfblock {
	height: 400px;
	margin-top: 50px;
}

.dps .halfblock .wrapper {
	height: 400px;
}

.dps .platformsection,
.last_section {
	display: flex;
	height: min-content;
	margin-top: 50px;
	max-width: 100%;
	justify-content: center;
}

.dps .platformsection {
	background: linear-gradient(0deg, #003d71e8, #003d71e8), url(../img/work.jpg);
	background-size: cover;
}

.dps .platformbox,
.lastbox {
	position: relative;
	color: var(--main-color);
	padding: 0 10px;
	text-align: center;
	width: 30%;
	display: inline-block;
	white-space: nowrap;
	height: min-content;
	margin: 50px 0 70px;
}

.dps .platformbox h3 {
	padding-bottom: 40px;
	color: #fff;
	font-size: 25px;
}

.dps .lastbox h2 {
	text-transform: inherit;
}

.dps .platformbox p {
	line-height: 2;
	font-size: 20px;
	padding-bottom: 20px;
}

.dps .platformbox span {
	color: var(--highlight);
}

.dps .green {
	background: #00B553;
	box-shadow: 0 15px 20px -4px #00B553;
}

.dps .green:hover {
	box-shadow: 0 0px 20px -4px #00B553;
}


.dps .last {
	text-transform: inherit;
	padding-bottom: 70px;
	font-weight: 600;
	font-size: 28px;
}

.dps .text_block {
	display: block;
	margin: auto;
	width: 300px;
	text-align: left;
	white-space: normal;
	color: #fff;
}

.dps .new_btn {
	width: 280px;
	height: 60px;
	border-radius: 30px;
	font-size: 23px;
	padding: 12px 0;
}

.dps p.icon_title {
	width: 100%;
	background: var(--main-color);
	font-size: 20px;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

.visible_block,
.visible_link {
	display: none !important;
}

.new_right {
	padding: 5px 0;
}

/*FOR NEW TERMS*/
#new_wrapper {
	margin-left: 30%;
}

.new_menu {
	position: fixed;
	font-size: 14px;
	background: linear-gradient(0deg, #ffffffe3, #ffffffe3), url(../img/workplace.jpg);
	;
	background-size: cover;
	padding-right: 20px;
	padding-left: 20px;
	top: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 120px;
	width: 320px;
	height: 100%;
	z-index: 1;
	color: var(--main-color);
	font-weight: 800;
	box-shadow: 0 0 10px -5px;
}

.new_menu_list,
.new_submenu_list {
	list-style: none;
}

.new_submenu_list {
	padding-top: 15px;
}

.new_terms .new_menu a {
	color: inherit;
	display: block;
	width: 100%;
}

.new_menu li {
	position: relative;
}

.new_submenu_list {
	left: 0px;
	cursor: pointer;
	z-index: 40;
	display: none;
}

.list_arrow_right_1,
.list_arrow_right_2 {
	position: absolute;
	height: 8px;
	right: 0;
	top: 5px;
	display: block;
}

.list_arrow_down_1,
.list_arrow_down_2 {
	display: none;
	position: absolute;
	height: 8px;
	right: 0;
	top: 5px;
}

.new_sub_menu {
	background-color: #f6f7f9;
	min-height: 64px;
	padding: 15px;
	position: fixed;
	z-index: -1;
	margin-top: 85px;
	display: none;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 10px -5px;
}

.new_sub_menu img {
	width: 30px;
	right: 27px;
	top: 16px;
	position: absolute;
}

a.anchor {
	display: block;
	position: relative;
	top: -250px;
	visibility: hidden;
}

.new_terms h3 {
	padding-bottom: 10px;
	font-size: 20px;
}

.new_footer footer {
	width: calc(100% - 320px);
	margin-left: auto;
	margin-right: 0;
}

.new_footer footer .wrapper {
	min-width: 920px;
}

.new_menu ul {
	padding-left: 10px;
}

.new_terms .orange_text i {
	color: #ffae00;
}

.sign_up .hero {
	height: 850px;
	background: linear-gradient(0deg, #003d71e8, #003d71e8), url(../img/contact_hero.jpg);
}

.sign_up .hero>.main-title {
	text-align: center;
	margin-top: 85px;
	height: 150px;
	width: 100%;
	padding: 30px 0;
	display: block;
	background-color: #fff;
}

.main-title h1 {
	color: var(--main-color) !important;

}

.main-title div {
	width: fit-content;
	display: block;
	margin: auto;
}

.main-title p {
	text-align: right;
	color: #939191;
}

.sign_up .hero .wrapper {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sign_up form {
	margin: 0;
	width: auto;
	text-align: center;
}

.sign_up textarea,
.sign_up form input:not(.button),
.sign_up form select {
	text-align: center;
	width: 350px;
	height: 42px;
	border-radius: 250px;
	border: 2px solid var(--main-color);
	padding: 10px 20px;
	text-align: left;
	float: right;
}

.sign_up input.button {
	background: #00B553;
	box-shadow: 0 15px 20px -4px #012913;
	width: 350px;
	margin-right: 0;
}

.sign_up textarea {
	resize: none;
	box-sizing: border-box;
	border-radius: 20px;
	height: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

.sign_up .footer_text {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	padding: 50px;
}

.sign_up .input_field {
	display: flex;
	margin-bottom: 15px;
}

.sign_up label {
	color: var(--highlight);
	padding-right: 20px;
	display: block;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: 600;
}

.dps .button_block {
	height: 300px;
}

.dps #updated_title {
	margin-top: 150px;
}

.dps h2.line_title {
	padding-left: 60px;
	border-left: 2px solid #f0ad1c;
	margin: 50px 100px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.dps .star_list {
	display: flex;
	flex-wrap: nowrap;
}

.dps .star_list img {
	height: 100%;
	padding-top: 11px;
	padding-right: 8px;
}

#company::after,
#services::after {
	border: 2px solid var(--main-color);
	;
	border-left-color: transparent;
	border-top-color: transparent;
	top: -6px;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	overflow: hidden;
	position: relative;
	left: 5px;
	transition: all .3s ease-out;
	box-sizing: border-box;
	z-index: -1;
}

#company:hover::after,
#services:hover::after {
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: -1px;
}

.body_article .banner_block {
	display: flex;
}

.banner_block .banner_image {
	width: 40%;
	margin: auto;
}

._form-title {
	line-height: 1.4 !important;
}

.main .halfblock {
	height: 100%;
	background-color: #133f6f
}

.main .halfblock .wrapper {
	height: 100%;
}

.main .halfblock .img {
	height: 100%;
}

.main form._form._form_1._inline-form {
	margin: 0 !important;
}

@media (max-width: 980px) {

	.contact .halfblock,
	.ppc .halfblock {
		height: fit-content !important;
	}

	div._form_1 form {
		margin: 25px auto 25px !important;
		max-width: 420px !important;
	}

	.contact .halfblock .wrapper {
		justify-content: center;
	}

	._field13 select {
		width: 100% !important;
	}

	.main .halfblock {
		background: #133f6f;
	}

	.main .halfblock .wrapper {
		justify-content: center;
	}
}
